# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# Streamlit cache
.streamlit/
*.sqlite

# Logs and temporary files
*.log
*.tmp
*.bak

# Environment variables
.env

# Python packaging
*.egg
*.egg-info/
dist/
build/

# Hidden files and folders
*.swp

# Dataset files, if any
*.csv
